body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(5, 174, 200);
  color: rgb(5, 5, 5);
  padding: 8rem 0rem 1.3rem 0rem;
  font-size: 1.8rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
h1 {
  font-size: 6rem;
}

@media only screen and (max-width: 1024px) {
  body {
    background-color: orange;
  }
}
@media only screen and (max-width: 861px) {
  .top-div-pic {
    height: auto;
  }
}
@media only screen and (max-width: 768px) {
  body {
    background-color: green;
  }
  h1 {
    font-size: 3rem;
  }
  * {
    font-size: 1.5rem;
  }
  .welcome {
    font-size: 5rem;
  }
  .search {
    max-width: 8rem;
    min-width: 1.5rem;
  }
  .search-bar {
    height: 2rem;
    font-size: 1.2rem;
    margin-right: 0;
  }
  .wp-icon,
  .inst-icon,
  .fb-icon {
    height: 1.7rem;
    max-width: 1.7rem;
  }
  .home-btn,
  .resto-btn,
  .blog-btn,
  .contact-btn,
  .pontos-btn {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    font-size: 1.4rem;
  }
  .social-media {
    position: fixed;
    right: 0;
  }
}
@media only screen and (max-width: 529px) {
  .wlcm-logo {
    font-size: 5rem;
  }
  .dropbtn {
    font-size: 1.2rem;
    max-width: 8rem;
    max-height: 7rem;
  }
  .dropdown {
    max-width: 10rem;
  }
  .home-btn,
  .resto-btn,
  .blog-btn,
  .contact-btn,
  .pontos-btn {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 453px) {
  .tabs {
    visibility: hidden;
    min-width: 9rem;
  }
  .top-stories {
    max-width: 100vw;
  }
  .top-div-pic {
    max-width: 100vw;
  }
}

@media only screen and (max-width: 375px) {
  body {
    background-color: red;
  }
  h1 {
    font-size: 2.2rem;
  }
  * {
    font-size: 1.2rem;
  }
  .welcome {
    font-size: 3rem;
  }
  .search {
    max-width: 7rem;
  }
  .search-bar {
    height: 1.8rem;
    font-size: 1rem;
    margin-right: 0.1rem;
  }
  .wp-icon,
  .inst-icon,
  .fb-icon {
    height: 1.4rem;
    max-width: 1.4rem;
  }
  .home-btn,
  .resto-btn,
  .blog-btn,
  .contact-btn,
  .pontos-btn {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    font-size: 1.1rem;
  }
  .social-media {
    position: fixed;
    right: 0;
  }
}
