.main-nav {
  background-color: rgb(5, 174, 200);
  height: 8.2rem;
  font-size: 1.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2rem;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  border-bottom: 0.5rem solid rgb(220, 239, 255);
}

.dropdown {
  flex: 1;
  width: 8rem;
  max-width: 12rem;
  min-width: 8rem;
  display: flex;
  padding: 0.3rem;
}

.tabs {
  flex: 1;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15.625rem;
}

.search {
  color: yellow;
  flex: 1;
  max-width: 15rem;
  min-width: 7.5rem;
  display: flex;
  align-items: center;
}
.search-bar {
  margin: 0.6rem 0.75rem 0.6rem 0.75rem;
  min-width: 3.125rem;
  flex: 1;
  height: 2.5rem;
  padding-left: 0.625rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.375rem;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
  font-size: 1.8rem;
}
.social-media {
  flex: 1;
  display: flex;
  max-width: 10rem;
  align-items: center;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.home-btn,
.resto-btn,
.blog-btn,
.pontos-btn,
.contact-btn {
  text-decoration: none;
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.pontos-tab {
  max-width: 8rem;
  padding: 0.2rem;
}

.wp-icon,
.inst-icon,
.fb-icon {
  flex: 1;
  height: 2.4rem;
  max-width: 2.4rem;
  margin: 0.3rem;
  cursor: pointer;
  filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(1deg)
    brightness(100%) contrast(100%);
}

/* Dropdown Button */
.dropbtn {
  background-color: rgb(5, 174, 200);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(5, 174, 200);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/*The color that appears when hovering on menu items*/
.dropdown-content a:hover {
  background-color: #2980b9;
}

/* Show the dropdown menu */
.show {
  display: block;
}
