.main-nav {
  background-color: rgb(74, 0, 144);
  height: 3.2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2rem;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.logo {
  flex: 1;
  width: 10rem;
  max-width: 15rem;
  min-width: 8rem;
}

.tabs {
  flex: 1;
  font-size: 0.75rem;
  display: flex;
  /* flex-direction: center; */
  justify-content: center;
  min-width: 15.625rem;
}

.search {
  color: yellow;
  flex: 1;
  max-width: 12.5rem;
  min-width: 7.5rem;
  display: flex;
}
.search-bar {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  min-width: 3.125rem;
  /* position: absolute; */
  flex: 1;
  height: 1.25rem;
  padding-left: 0.625rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.375rem;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}
.social-media {
  width: 5.625rem;
}
.home-tab {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
.home-btn,
.resto-btn,
.blog-btn,
.contact-btn {
  text-decoration: none;
  color: white;
}
.resto-tab {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
.blog-tab {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
.contact-tab {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
