.top-info {
  background-color: rgb(74, 0, 144);
  display: flex;
  height: 55rem;
  margin-bottom: 2rem;
  padding: 0.8rem;
  white-space: normal;
  overflow: overlay;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.top-info-resto {
  background-color: rgb(74, 0, 144);
  display: flex;
  height: 42rem;
  margin-bottom: 2rem;
  padding: 0.8rem;
  white-space: normal;
  overflow: overlay;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.top-div-pic {
  width: 400px;
  height: 350px;
}
.top-stories {
  width: 400px;
  margin: 0 0.25rem 1rem 0.25rem;
}
.top-div-pic-resto {
  width: 450px;
  height: 400px;
}
.top-stories-resto {
  width: 450px;
  margin: 0 0.25rem 0 0.25rem;
}

.bottom-info {
  background-color: rgb(74, 0, 144);
  display: flex;
  height: 25rem;
  margin-bottom: 2rem;
  padding: 0.8rem;
  flex-direction: column;
  white-space: normal;
  overflow: overlay;
}

.footer {
  background-color: rgb(74, 0, 144);
  height: 10rem;
  margin-bottom: 1rem;
  padding: 0.8rem;
  white-space: normal;
  overflow: overlay;
}

.blog-part {
  background-color: rgb(74, 0, 144);
  height: 40rem;
  margin-bottom: 1rem;
  padding: 0.8rem;
  white-space: normal;
  overflow: overlay;
}
