.top-info {
  background-color: rgb(220, 239, 255);
  display: flex;
  height: 55rem;
  margin-bottom: 2rem;
  padding: 0.8rem;
  white-space: normal;
  overflow: auto;
  text-align: justify;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  right: 0;
}
.top-stories {
  width: 400px;
  margin: 0.5rem;
  padding-right: 5rem;
}
.top-div-pic {
  width: 400px;
  height: 350px;
  padding-right: 5rem;
}

.bottom-info {
  background-color: rgb(220, 239, 255);
  display: flex;
  height: 25rem;
  margin-bottom: 2rem;
  padding: 0.8rem;
  flex-direction: column;
  white-space: normal;
  overflow: overlay;
}

.footer {
  background-color: rgb(220, 239, 255);
  height: 10rem;
  margin-bottom: 1rem;
  padding: 0.8rem 1.5rem 0.8rem 0.8rem;
  white-space: normal;
  overflow: overlay;
}

.blog-part {
  background-color: rgb(5, 174, 200);
  height: 40rem;
  margin-bottom: 1rem;
  padding: 0.8rem;
  white-space: normal;
  overflow: overlay;
}
.top-info-home {
  background-image: url(/Images/Ibis-Hotel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(74, 0, 144);
  display: flex;
  height: 55rem;
  margin-bottom: 2rem;
  padding: 0.8rem;
  flex-direction: column;
}
.wlcm-logo {
  flex: 1;
  place-self: center;
  font-size: 7rem;
  text-align: center;
}
.top-img-part {
  flex: 1;
}
.middle-img-part {
  flex: 1;
}
