.top-info {
  background-color: rgb(220, 239, 255);
  display: flex;
  height: 55rem;
  margin: 0rem 1rem 1rem 1rem;
  padding: 0.8rem 5rem 0.8rem 0.8rem;
  white-space: normal;
  overflow: auto;
  text-align: justify;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (max-width: 453px) {
  .top-info {
    max-width: 100vw;
  }
}
.top-stories {
  flex: 1;
  width: 380px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 453px) {
  .top-stories {
    max-width: 100vw;
    max-height: 100vh;
  }
}
.top-div-pic {
  width: 380px;
  height: 350px;
  max-width: 100vw;
}
@media only screen and (max-width: 453px) {
  .top-div-pic {
    height: auto;
    /* margin-right: 3rem; */
  }
}
.pic-div {
  flex: 1;
  max-width: 100vw;
}
/* @media only screen and (max-width: 453px) {
  .pic-div {
    margin-right: 3rem;
  }
} */
.desc-div {
  flex: 1;
  width: 375px;
  max-width: 100vw;
}
/* @media only screen and (max-width: 453px) {
  .desc-div {
    margin-right: 3rem;
  }
} */
.resto-links {
  text-decoration: none;
  color: rgb(5, 174, 200);
  display: flex;
}
.bottom-info {
  background-color: rgb(220, 239, 255);
  display: flex;
  height: 25rem;
  margin: 0rem 1rem 1rem 1rem;
  padding: 0.8rem;
  flex-direction: column;
  white-space: normal;
  overflow: overlay;
}

.footer {
  background-color: rgb(220, 239, 255);
  height: 35rem;
  padding: 0.8rem 1.5rem 0.8rem 0.8rem;
  margin: 0rem 1rem 0rem 1rem;
  white-space: normal;
  overflow: overlay;
}
.home-pic {
  background-image: url(/Images/Ibis-Hotel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100vw;
  display: flex;
  height: 50rem;
  margin: 0.2rem 0rem 2rem 0rem;
  flex-direction: column;
}
.wlcm-logo {
  color: rgb(5, 174, 200);
  flex: 1;
  place-self: center;
  font-size: 7rem;
  text-align: center;
}
.welcome {
  text-shadow: 0.1rem 0.1rem 01rem white;
}
.top-img-part {
  flex: 1;
}
.middle-img-part {
  flex: 1;
}
.top-info-home {
  background-color: rgb(220, 239, 255);
  display: flex;
  height: 70rem;
  margin: 0rem 1.3rem 1.3rem 1.3rem;
  padding: 0.8rem;
  white-space: normal;
  overflow: auto;
  text-align: justify;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  right: 0;
}
.top-info-menu {
  background-color: rgb(5, 174, 200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.3rem;
  height: 10rem;
}
@media only screen and (max-width: 326px) {
  .top-info-menu {
    flex-direction: column;
    height: 15.5rem;
  }
}
.top-info-slides {
  width: 1fr;
  height: 57.5rem;
}
@media only screen and (max-width: 326px) {
  .top-info-slides {
    height: 37rem;
  }
}
.mySlides {
  width: 100%;
  height: 100%;
}
.desc {
  color: black;
}
.menu1,
.menu2,
.menu3,
.menu4 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1fr;
  color: white;
  font-size: 1.6rem;
  font-style: oblique;
  margin: 0.2rem;
  position: relative;
}
.menu1p,
.menu2p,
.menu3p,
.menu4p {
  flex: 1;
  background-color: rgb(5, 174, 200);
  color: white;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}
.menu-content {
  display: none;
  position: absolute;
  background-color: rgb(5, 174, 200);
  min-width: 7rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.menu-content a {
  color: white;
  padding: 1rem 1.5rem;
  text-decoration: none;
  display: block;
}
.menu-content a:hover {
  background-color: #2980b9;
}
.menu1:hover .menu-content {
  display: block;
}
.menu2:hover .menu-content {
  display: block;
}
.menu3:hover .menu-content {
  display: block;
}
.menu4:hover .menu-content {
  display: block;
}

.menu1:hover .menu1p {
  background-color: #2980b9;
}
.menu2:hover .menu2p {
  background-color: #2980b9;
}
.menu3:hover .menu3p {
  background-color: #2980b9;
}
.menu4:hover .menu4p {
  background-color: #2980b9;
}
