.top-info {
  background-color: rgb(220, 239, 255);
  display: flex;
  height: 45rem;
  margin: 0rem 1rem 1rem 1rem;
  padding: 0.8rem;
  white-space: normal;
  overflow: auto;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (max-width: 453px) {
  .top-info {
    max-width: 100vw;
  }
}
#direto {
  background-color: rgb(220, 239, 255);
  height: 40rem;
  margin: 0rem 1rem 1rem 1rem;
  padding: 0.8rem;
}
.top-stories {
  flex: 1;
  width: 380px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 453px) {
  .top-stories {
    max-width: 1fr;
    max-height: 1fr;
  }
}
.top-div-pic {
  width: 380px;
  height: 350px;
  max-width: 380px;
}
.pic-div {
  flex: 1;
  width: 380px;
  max-width: 100vw;
}
.desc-div {
  flex: 1;
  width: 375px;
  max-width: 1fr;
}
@media only screen and (max-width: 453px) {
  .top-div-pic {
    width: 260px;
    height: auto;
  }
  .pic-div {
    width: 260px;
  }
  .desc-div {
    width: 260px;
    max-width: 261px;
  }
}
.resto-links {
  text-decoration: none;
  color: rgb(5, 174, 200);
  display: flex;
  flex-direction: column;
  text-align: center;
}
#bottom-info {
  background-color: rgb(220, 239, 255);
  display: block;
  height: 25rem;
  margin: 0rem 1rem 1rem 1rem;
  padding: 0.8rem;
  flex-direction: column;
  white-space: normal;
  overflow: overlay;
}
#bottom-info #beirute {
  float: left;
  padding: 6rem;
}
#bottom-info #bar {
  float: left;
  padding-top: 6rem;
  padding-left: 20rem;
  
}
#bottom-info #hospital {
  float: left;
  padding-top: 5rem;
  padding-left: 10rem;
}
#bottom-info #sushi {
  float: right;
  padding-top: 6rem;
  padding-right: 15rem;
}


.footer {
  background-color: rgb(220, 239, 255);
  height: 33rem;
  max-width: 100vw;
  padding: 0.8rem 1.5rem 0.8rem 0.8rem;
  margin: 0rem 1rem 1rem 1rem;
  white-space: normal;
  overflow: overlay;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 902px) {
  .footer {
    flex-direction: column;
  }
  .middle-footer {
    margin-top: 1.5rem;
  }
  .right-footer {
    margin-top: 1.5rem;
  }
}
.left-footer {
  flex: 1;
  margin-right: 1rem;
  max-width: 30rem;
}
.footer-logo {
  color: rgb(5, 174, 200);
}
.footer-pic {
  margin-top: 2rem;
  width: 15rem;
  height: 4rem;
}
.middle-footer {
  flex: 1;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
}
.footer-h5s {
  color: rgb(5, 174, 200);
  margin-bottom: 3rem;
}
.middle-footer-divs {
  margin-right: 2rem;
}
.footer-links {
  text-decoration: none;
  color: rgb(5, 174, 200);
  margin-bottom: 1rem;
}
.right-footer {
  flex: 1;
}
.unifeb-logo {
  width: 240px;
  height: auto;
}
